<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Home</a>
  </li>
  <li>
    <a href="#">Profile</a>
  </li>
  <li class="disabled">
    <a href="#">Messages</a>
  </li>
  <li class="dropdown pull-right">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
      Dropdown<strong class="caret"></strong>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Link 1</a>
      </li>
      <li>
        <a href="#">Link 2</a>
      </li>
      <li>
        <a href="#">Link 3</a>
      </li>
      <li class="divider"> </li>
      <li>
        <a href="#">Link 4</a>
      </li>
    </ul>
  </li>
</ul>
